# Ignore Python virtual environment
.env/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variable files (optional)
.env*

combine_files.py
combined_code.py